.wrapper
  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          サンプル１
          .left-header__members
            %p.left-header__member
              Members: matsuoka
      .right-header
        .right-header_button
          = link_to edit_group_path(current_user) do
            Edit

    .messages
      .message
        .upper-message
          .upper-message__user-name
            matsuoka
          .upper-message__date
            2018/3/12 18:00:00
      .lower-message
        メッセージ１


