#make-group

#contents

  #left-content

    #left-content__setting
      %span.nickname matsuoka
      #left-content__setting__icons
        %i.fa.fa-cog
        %i.fa.fa-pencil-square-o
    #left-content__group

      %p.title テンプレート１
      %p.new-message まだメッセージはありません

      %p.title テンプレート２
      %p.new-message まだメッセージはありません

  #right-content

    #right-content__detail
      #right-content__detail__title sampleグループ
      %a#right-content__detail__edit{ :href => "リンク" } Edit
      #right-content__detail__member Members: matsuoka

    #right-content__main

      #right-content__main__template
        %h1#right-content__main__template__nickname matsuoka
        %h2#right-content__main__template__date 2018/3/12 18:00:00
        %p#right-content__main__template__sentence テンプレート１


      #right-content__main__template
        %h1#right-content__main__template__nickname matsuoka
        %h2#right-content__main__template__date 2018/3/12 18:00:00
        %p#right-content__main__template__sentence テンプレート２


    #right-content__send
      %input.font-awesome#right-content__send__area{ :type => "text", :placeholder => "　type a message"}
      #right-content__send__photo
        / %labe{:for => "file_photo"}
        /   %i.fa.fa-image
        /   %input#file_photo{:style => "display:none;", :type => "file"}
      / 画像アイコンをテキストエリアに埋め込めませんでした...

      %input#right-content__send__button{ :type => "submit", :value => "Send" }
